<h1>Campgrounds page!</h1>
<% campgrounds.forEach(function(campground) { %>
    <div>
        <%= campground.name %>
        <img src="">
    </div>
<% }); %>

<%= campgrounds[0].name %>
<%= campgrounds[0].image %>
