<!-- header -->
<%- include('partials/header') %>


<!-- content -->
<header></header>
<h1>Campgrounds page!</h1>
<a href="/campgrounds/new">Add New Campground</a>
<% campgrounds.forEach(function(campground) { %>
    <div>
        <h3><%= campground.name %></h3>
        <img src="<%= campground.image %>">
    </div>
<% }); %>


<!-- footer -->
<%- include('partials/footer') %>