<!-- header -->
<%- include('partials/header') %>


<!-- content -->
<div class="container">
    <header class="jumbotron">
        <h1>Campground Locations</h1>
        <p>Welcome to campgrounds located in northern California.</p>
        <p></p><a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a></p>
    </header>
    <div class="row">
        <!-- <h3>California's Popular Camping Grounds</h3> -->
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<!-- footer -->
<%- include('partials/footer') %>