
<!-- header -->
<%- include('partials/header') %>

<div class="container">
    <h1>Create New Campground</h1>

    <form class="form-group" action="/campgrounds" method="POST">
        <input class="form-control" type="text" name="name" placeholder="Name">
        <input class="form-control" type="text" name="image" placeholder="Image URL">
        <button class="btn btn-primary btn-lg">Submit</button>
    </form>
    <a href="/campgrounds">Go Back</a>
</div>

<!-- footer -->
<%- include('partials/footer') %>